@import '../../styles/variables';
.header {
    background-color: $primary;

    &__wrapper {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
    }

    &__logo {
        font-size: 1.3rem;
    }

    &__icons {
        font-size: 1.5rem;
        display: flex;
        gap: 1rem;
    }

    &__links {
        display: flex;
        gap: 1rem;
    }

    &__titles {
        padding-bottom: 1.4rem;

        @media screen and (min-width: 860px) {
            padding-bottom: 4rem;
        }
    }

    &__title,
    &__subtitle {
        color: $white;
    }

    &__title {
        font-size: 3.5rem;
    }
    &__subtitle {
        font-size: 1.4rem;
    }
}
