@import '../../styles/variables';
.header {
    background-color: $primary;

    &__wrapper {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
    }

    &__icons {
        font-size: 1.5rem;
        display: flex;
        gap: 1rem;
    }

    &__links {
        display: flex;
        gap: 1rem;
    }
}
