@import '../../../styles/variables';

.settings {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1;
    position: relative;
    margin-bottom: 2rem;

    &__name__form {
        display: flex;
        gap: 2rem;

        &__label {
            font-size: 13px;
        }
    }

    &__text {
        display: flex;
        gap: 2rem;
        color: $font;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        width: 100%;
        height: 2px;
        border-bottom: 1px solid $gray;
    }

    &__edit {
        color: $primary-light;
        font-weight: 500;

        &:hover {
            background-color: $primary-light-50;
        }
    }
    &__save__btn {
        color: $white;
        background-color: $primary-light;
        border-radius: 8px;
    }
}
