// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$roboto: 'Roboto', sans-serif;

// Colors
$white: #fff;
$black: #000;
$primary: #003580;
$primary-light: #0071c2;
$primary-light-50: #e6f1f9;
$accent: #febb02;
$gray: rgb(201, 201, 201);
$light-gray: #f5f5f5;
$font: #1a1a1a;

// Shadow
$shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
