// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$roboto: 'Roboto', sans-serif;

// Colors
$white: #fff;
$black: #000;
$primary: #003580;
$accent: #febb02;
